h1{
    background-color: yellow;
    border: solid;
    border-radius: 10px;
    
}
h2{
    color: red;
   

}
body{
background-color: lightblue;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
h3{
color: red;

    
}
img {
border: solid;
border-radius: 18px;

}

